<button class="btn-panel hamburger hamburger--elastic"
        type="button"
        #btnPanel
        (click)="showPanel(btnPanel, Panel)">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<section class="Panel"
         #Panel>
  <nav class="Menu">
    <ul>
      <li>
        <a [routerLink]="['inicio']"
           (click)="showPanel(btnPanel, Panel)">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['servicios']"
           (click)="showPanel(btnPanel, Panel)">Servicios</a>
      </li>
      <li>
        <a [routerLink]="['cotiza']"
           (click)="showPanel(btnPanel, Panel)">Cotiza</a>
      </li>
    </ul>
  </nav>
</section>
