
<div class="Seccion">
  <h2 class="titulo-seccion">Ofertas</h2>
</div>
<div class="column-1-3">

  <div class="card">
    <h4 class="card-title">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      Web Básica
    </h4>
    <div class="card-body">
      <ul>
        <li>Diseño responsivo</li>
        <li>Contenido estático</li>
        <li>Dominio + Hosting por un año</li>
        <li>Correos corporativos</li>
      </ul>
    </div>
    <div class="card-price">
      <p><span>$</span>120.000</p>
    </div>
    <div class="card-actions">
      <!-- Abre formulario modal -->
      <button>Comprar</button>
      <a href="https://gbvong.cl/" target="_blank" rel="noopener noreferrer">Ver ejemplo</a>
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">
      <i class="fa fa-rocket" aria-hidden="true"></i>
      Web Start-Up
    </h4>
    <div class="card-body">
      <ul>
        <li>Diseño responsivo</li>
        <li>Autoadministrable</li>
        <li>Dominio + Hosting por un año</li>
        <li>Correos corporativos</li>
      </ul>
    </div>
    <div class="card-price">
      <p><span>$</span>220.000</p>
    </div>
    <div class="card-actions">
      <!-- Abre formulario modal -->
      <button>Comprar</button>
      <a href="https://quintilvalley.cl/" target="_blank" rel="noopener noreferrer">Ver ejemplo</a>
    </div>

  </div>

  <div class="card">
    <h4 class="card-title">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Tienda Online
    </h4>
    <div class="card-body">
      <ul>
        <li>Diseño responsivo</li>
        <li>Panel de Administración</li>
        <li>Dominio + Hosting por un año</li>
        <li>Correos corporativos</li>
        <li>Woocommerce</li>
        <li>Pasarelas de pago</li>
      </ul>
    </div>
    <div class="card-price">
      <p><span>$</span>530.000</p>
    </div>
    <div class="card-actions">
      <!-- Abre formulario modal -->
      <button>Comprar</button>
      <a href="https://paltolim.cl/" target="_blank" rel="noopener noreferrer">Ver ejemplo</a>
    </div>
  </div>

</div>
