
<div class="column-1-3">

  <div class="card">
    <h4>Esfera Digital</h4>
    <p>
      Te ayudamos a poner en marcha tu idea de negocio, tu emprendimiento o tu organización. Desarrollando plataformas digitalmente escalables en un proceso de testeo y mejora continua.
    </p>
    <p>
      Acompañamos a tu empresa u organización en el desarrollo de su imágen y en la transformación de los procesos de marketing, venta y gestión.
    </p>
  </div>

  <div class="card">
    <h4>Siguenos</h4>
    <div class="card-redes-sociales">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-github-square"></i>
    </div>
  </div>

</div>

<div class="Copy">
  Todos los derechos reservados Esfera Digital 2017-2020
</div>
