

<div class="Seccion">
  <h2 class="titulo-seccion">Nosotros</h2>
</div>

<!-- <div class="column-1-2"> -->
<div class="Seccion">

  <div class="card">
    <div class="center">

      <div class="btn"
           (click)="cambiar(1)">
        <h3>Somos</h3>
        <div class="article">
          <div class="content-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque animi voluptate aliquid unde aliquam fugit nobis, sapiente ab tenetur eaque debitis deleniti, magni consequatur? Cum deleniti consequuntur corrupti! Est!</p>
          </div>
        </div>
      </div>

      <div class="btn"
      (click)="cambiar(2)">
        <h3>Creemos</h3>
        <div class="article">
          <div class="content-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque animi voluptate aliquid unde aliquam fugit nobis, sapiente ab tenetur eaque debitis deleniti, magni consequatur? Cum deleniti consequuntur corrupti! Est!</p>
          </div>
        </div>
      </div>

      <div class="btn"
      (click)="cambiar(3)">
        <h3>Hacemos</h3>
        <div class="article">
          <div class="content-article">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque animi voluptate aliquid unde aliquam fugit nobis, sapiente ab tenetur eaque debitis deleniti, magni consequatur? Cum deleniti consequuntur corrupti! Est!</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="../../../../assets/img/trabajo.jpg" alt="Trabajo en equipo">
    </div>
  </div>

</div>
