
// Para guardar la paleta de colores y los colores degradados que usaremos en cada proyecto. Se modifica en función de cada proyecto

@function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores


$colors:(
  primary: #1f4386,
  secondary: #268ea4,
  tertiary: #5fc3b1,
  tercero: hsl(252, 24%, 16%),
  footer: #0a1e3b,
  fondo: #ffff,
  alert: #ab1217,
  font-color: #444444
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

$fondo-transparente: rgba(9, 10, 7, 0.8);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
