
// Para guardar la paleta de colores y los colores degradados que usaremos en cada proyecto. Se modifica en función de cada proyecto

@function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores


$colors:(
  primary: hsl(227, 88%, 60%),
  secondary: red,
  footer: hsl(231, 61%, 11%),
  tercero: hsl(252, 24%, 16%),
  tertiary: hsl(179, 100%, 40%),
  alert: #ab1217
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

$fondo-transparente: rgba(9, 10, 7, 0.8);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
