// Para guardar variables globales que podamos reutilizar, por ejemplo, sombras

// Variables para maquetación

$ancho-maximo: 1400px; //de todo el sitio
$altura-header: 5rem;

// Padding centrales
$padding-container-secciones: .5rem 1rem;

// Sombras

$sombra: 1px 1px 1px 0px color(tercero);
